@import "../_variables.scss";

.preloader {
  display: flex;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: $modal-overlay;
  justify-content: center;
  align-items: center;
}
