@import "../../variables";
.home-banner-container {
  margin-bottom: 1.6rem;
  .home-banner {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    &.row {
      margin-left: -4px !important;
      margin-right: -4px;
    }
    .list-menu {
      max-height: $banner-height;
      position: relative;
      background-color: $light;
      border-radius: 5px;
      box-shadow: $menu-box-shadow;
      &__list {
        &-item {
          overflow: hidden;
          font-size: 1.4rem;
          font-weight: 500;
          display: flex;
          &--has-child {
            &:hover > .child-list-menu {
              display: block;
            }
          }
          &-link {
            display: flex;
            align-items: center;
            height: 3.4rem;
            padding: 10px 4px 10px 8px;
            width: 100%;
            &:first-child {
              border-top-left-radius: 5px;
            }
            &:last-child {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }
            &:hover {
              color: $primary;
              background-color: $hover-gray;
            }
          }
          &-name {
            flex: 1;
            font-size: 1.4rem;
            margin-left: 8px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          &-icon {
            position: relative;
            top: -1px;
          }
        }
      }
    }
    .list-menu.child-list-menu {
      position: absolute;
      border-radius: 0;
      right: -100%;
      width: 200px;
      height: 100%;
      display: none;
      z-index: 10;
      box-shadow: $menu-box-shadow;
    }
    .slick-slider {
      overflow-y: hidden;
      width: 100%;
      border-radius: 5px;
      max-height: $banner-height;
      @include breakpoint(lg) {
        height: $banner-height;
      }
      @include breakpoint(md) {
        overflow: hidden;
      }
      box-shadow: $menu-box-shadow;
      .slick-dots {
        bottom: 0;
        button::before {
          font-size: 10px;
        }
      }
      img {
        width: 104%;
      }
      button {
        width: 34px;
        height: 34px;
        z-index: 1;
        color: grey;
        &::before {
          color: unset;
        }
        &.slick-prev {
          @include breakpoint(md) {
            display: none !important;
          }
          left: 0;
        }
        &.slick-next {
          @include breakpoint(md) {
            display: none !important;
          }
          right: 0;
        }
      }
    }
    .banner-right {
      width: 100%;
      height: $banner-height;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        width: 100%;
        border-radius: 5px;
        box-shadow: $menu-box-shadow;
      }
    }
  }
  .home-banner-special {
    border-radius: 5px;
    box-shadow: $menu-box-shadow;
    margin-bottom: 1.6rem;
    &-link {
      overflow: hidden;
      img {
        border-radius: 5px;
        width: 100%;
      }
    }
  }
}
