@import "../../variables";

table {
  width: 100%;
  font-size: 1.6rem;
}
thead {
  font-weight: 300;
}
thead th:nth-child(1) {
  width: 3%;
}

thead th:nth-child(2) {
  width: 40%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 15%;
}
thead th:nth-child(5) {
  width: 15%;
}
tr {
  border: 1px solid #ccc;
}
th,
td {
  padding: 20px 0;
  margin: 12px 0;
}
th {
  font-weight: 400;
}

.cart-table {
  border-radius: 2px;
  background-color: $hover-gray;
  margin: 16px 0;
  .cart-item {
    display: flex;
    align-items: center;
    margin-right: 6px;
    &-img {
      width: 62px;
      height: 62px;
      margin: 12px;
      margin-left: 0;
      border: 1px solid ($border);
    }
    &-name {
      overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-weight: 500;
      color: ($text);
      font-size: 1.6rem;
    }
    &-price.total {
      color: $primary;
    }
    &-quantity {
      display: flex;
      justify-content: start;
      input {
        width: 50px;
        text-align: center;
      }
      .quantity-control {
        background-color: transparent;
        border: none;
      }
    }
    &-remove {
      background-color: transparent;
      border: none;
      padding: 4px 12px;
      color: $text;
      display: flex;
      &:hover {
        color: $primary;
      }
    }
  }
}
.cart-purchase {
  display: flex;
  background-color: $hover-gray;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 1.6rem;
  align-items: center;
  justify-content: space-between;
  .cart-item-remove {
    background-color: transparent;
    border: none;
    padding: 4px 12px;
    color: $text;
    display: flex;
    &:hover {
      color: $primary;
    }
  }
  .btn--primary.purchase {
    min-width: 300px;
    padding: 24px;
  }
  .total-price {
    color: $primary;
    // font-size: 1.8em;
  }
}
.no-cart {
  font-size: 1.6rem;
  margin-bottom: 16px;
}

//Check out

.checkout-container {
  background-color: $hover-gray;
  margin: 20px 0;
  .checkout-heading {
    color: $primary;
    margin: 20px;
    padding-top: 20px;
    text-align: center;
  }
  .inner-heading.form-group {
    background-color: $primary;
    padding: 10px;
    color: $light;
    font-weight: 400;
    font-size: 1.5rem;
  }
}
.form-group {
  margin-bottom: 8px;
  .label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
  }
  & * {
    font-size: 1.4rem;
  }
}
.payment {
  display: flex;
  justify-content: center;

  &-method {
    border: 1px solid $border;
    padding: 20px 40px;
    margin: 0 8px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      color: $primary;
      border: 1px solid $primary;
    }
  }
  &-method.active {
    border-color: $primary;
    position: relative;
    &::before {
      content: "";
      width: 15px;
      height: 10px;
      border-radius: 0 0 0.2rem 0;
      background: $primary;
      background-image: url("https://cdn.cellphones.com.vn/media/icons/checkmark.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      color: white;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  &-method.disable {
    opacity: 0.5;
    cursor: not-allowed;
    color: unset;
  }
}
.checkout-overview {
  color: $text-light-gray;
  margin: 20px 0 0;
  background: #fffefb;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-top: 1px solid #f1f0ed;
  padding-top: 15px;
  .total-price {
    font-size: 1.4rem;
    &-label {
    }
    &-value {
      text-align: end;
      &.finish {
        font-size: 2.8rem;
        color: $primary;
      }
    }
    ul {
      align-items: center;
      margin: 16px 0;
    }
  }
}
.place-order {
  min-height: 95px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed rgba(0, 0, 0, 0.09);
  .terms-conditions {
    font-size: 1.4rem;
    color: $text-light-gray;
  }
  .btn--primary.purchase {
    min-width: 300px;
    padding: 24px;
    &:hover {
      background-color: $hover-primary;
    }
  }
}
.order-status {
  padding: 4px 6px !important;
  &-Complete {
    background-color: $green;
  }
  &-Processing {
    background-color: $dodger-blue;
  }
  &-Pending {
    background-color: $orange;
  }
  &-Canceled {
    background-color: $orange;
  }
}
