@import "../../variables";

.home-product__item {
  display: block;
  text-decoration: none;
  color: $text;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: $menu-box-shadow;
  background-color: $light;
  transition: transform linear 0.15s;
  will-change: transform;
}

.home-product__item:hover {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);
  // box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
  transform: translateY(-1px);
}

.home-product__box-img {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.home-product__item-img {
  height: 160px;
  max-width: 100%;
}

.home-product__item-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: $text;
  min-height: 3.2rem;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product__item-price {
  margin: 6px 0;
  font-size: 1.6rem;
  font-weight: 500;

  display: flex;
  flex-wrap: wrap;
}

.home-product__item-price-old {
  font-size: 1.4rem;
  color: #555;
  text-decoration: line-through;
}

.home-product__item-price-new {
  margin-right: 8px;
  color: $primary;
}

.home-product__item-rating {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  &-star {
    position: relative;
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-right: 10px;
    .rating-children {
      position: absolute;
      overflow: hidden;
      white-space: nowrap;
      left: 0;
      width: 0;
      top: 0;
    }
  }
  &-number {
    color: $text-gray;
  }
  .rating-star--gold {
    color: $star-gold;
  }
}
.home-product__item-sale {
  position: absolute;
  color: $primary;
  background-color: $primary;
  font-size: 1.2rem;
  font-weight: 600;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: -3px;
  top: 0px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.home-product__item-sale::before {
  content: "";
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  position: absolute;
  bottom: -3px;
  left: 0;
  filter: brightness(70%);
}

.home-product__item-sale span {
  color: $light;
}

.home-product__item-sale i {
  color: $light;
  margin-left: 5px;
  font-size: 0.8rem;
}
