@import "../variables";

.admin-products {
  margin: 16px;
  &-heading {
    h3 {
      align-self: center;
    }
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    height: 40px;
  }
  &-controls {
    display: flex;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 40px;
      font-size: 1.6rem;
      height: 100%;
      min-width: 100px;
      border: none;
      border-radius: 5px;
      margin: 0 4px;
      i {
        font-size: 1.8rem;
      }
      a{
        display: flex;
        align-items: center;
        color: $light;
      }
    }
  }
  .table.table-striped {
    font-size: 1.6rem;
    thead {
      th {
        line-height: 40px;
      }
    }
    tr {
      td {
        cursor: default;
        line-height: 80px;
        .product-name {
          font-size: 1.6rem;
          font-weight: 600;
          color: #333;
          min-height: 3.2rem;
          margin: 0;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
        .product-img {
          width: 80px;
          height: 80px;
          background-color: $light;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-width: 100%;
            max-height: 100%;
            padding: 10px;
          }
        }
      }
    }
  }
}


// Create Product

.create-product{
  margin: 16px;
  font-size: 1.6rem;
  .create-form{
    font-size: 1.6rem;
  }
  &-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    .control{
    }
  }
  .form-main{
    background-color: $light;
    border-radius: 5px;
    padding: 16px;
    &-heading{
      padding: 12px 8px;
    }
    
  .form-group{
    margin-bottom: 8px;
    .label{
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      font-weight: 500;
    }
    & *{
      font-size: inherit;
    }
  }
    
  }
}