:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --header-height: 120px;
  --header-navbar-height: 40px;
  --header-with-search-height: calc(
    var(--header-height) - var(--header-navbar-height)
  );
  --hover-gray-color: #fafafa;
  --hover-primary-color: #fb6445;
  --secondary-green: #26aa99;
  --star-gold-color: #ffce3d;
}

* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.6em;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Responsive */
@import url('./css/responsive.css');

