$primary-color: #ee4d2d;
$white-color: #fff;
$black-color: #000;
$text-color: #333;
$border-color: #dbdbdb;
$header-height: 120px;
$header-navbar-height: 40px;
$header-with-search-height: calc($header-height - $header-navbar-height);
$hover-gray-color: #fafafa;
$hover-primary-color: #fb6445;
$secondary-green: #26aa99;
$star-gold-color: #ffce3d;
